ULPF_DB_PATH=./data/ulpf.db
ULPF_SYSLOG_PORT=5514
ULPF_API_PORT=8000
ULPF_PLUGINS_DIR=./backend/parser_engine/plugins
ULPF_CONFIG_DIR=./backend/config
ULPF_FRONTEND_DIR=./frontend
ULPF_LOG_LEVEL=INFO
